{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": {
        "ie": "9",
        "edge": "17",
        "firefox": "60",
        "chrome": "67",
        "safari": "11.1"
      }
    }],
    ["minify"]
  ]
}
